<video width="320" height="240" controls>
  <source src="rtsp://192.168.0.201:8554/test">
  <source src="movie.ogg" type="video/ogg">
Your browser does not support the video tag.
</video>


<OBJECT classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921"
    codebase="http://downloads.videolan.org/pub/videolan/vlc/latest/win32/axvlc.cab"
       width="640" height="480" id="vlc" events="True">
 <param name="Src" value="rtsp://192.168.0.201:8554/test" />
 <param name="ShowDisplay" value="True" />
 <param name="AutoLoop" value="False" />
 <param name="AutoPlay" value="False" />
 </OBJECT>

 <OBJECT classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921"
      codebase="http://downloads.videolan.org/pub/videolan/vlc/latest/win32/axvlc.cab"
      width="640" height="480" id="vlc" events="True">
    <param name="Src" value="rtsp://192.168.0.201:8554/test" />
    <param name="ShowDisplay" value="True" />
    <param name="AutoLoop" value="False" />
    <param name="AutoPlay" value="True" />
    <embed id="vlcEmb"  type="application/x-google-vlc-plugin" version="VideoLAN.VLCPlugin.2" autoplay="yes" loop="no" width="640" height="480"
      target="rtsp://192.168.0.201:8554/test" ></embed>
 </OBJECT>
